
    .button {
        background: rgb(55, 234, 247);
    }
    .link {
        cursor: pointer;
    }
    .progress{
        margin-left: calc(50% - 15px);
    }
    .sign {
        color: rgb(0, 0, 0);
        font-size: 25px;
        margin-bottom: 20px;
    }