    #contact_ul {
        list-style: none;
        -webkit-padding-start: 0px;
    }

    #li_phone ion-icon {
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 9px;
    }

    #li_email ion-icon {
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 1px;
    }

    .button {
        background: rgb(55, 234, 247);
    }