@import '../../commonscss/color.scss';

.img {
  height: 30px;
  width: 30px;
}

.title {
  color: $dark_grey;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.namer {
  color: $dark_grey;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.paper {
  width: calc(100% - 80px);
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 70px;
  cursor: pointer;
}