@import '../../commonscss/color.scss';

.cursor {
  cursor: pointer;
}

.user_img {
  height: 33px;
  border-radius: 50%;
  margin-right: 50px;
}

.main {
  display: flex;
  background-color: $darker;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.image {
  height: 40px;
  width: 40px;

}