.item_text {
    color: aliceblue;
    cursor: pointer;
}

.topbar {
    background-color: #000000;
    height: 35px;
}

.slash_text {
    color: aliceblue;
    margin-left: 5px;
    margin-right: 5px;

}

.invest_text {
    color: aliceblue;
    margin-left: 10%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.input {
    width: 60%;
    margin-left: 20px;
    margin-top: 2px;

}

.sign {
    margin-left: 20px;
    color: aliceblue;

}

.popover {
    color: #FFF;
    background: #000000;

}
.popover :hover{
    background: #FFF;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
}