@import '../../commonscss/color.scss';

.item_text {
    color: $light;
    cursor: pointer;
}

.topbar {
    background-color: $darker;
    height: 35px;
    padding: 10px;
}

.slash_text {
    color: $light;
    margin-left: 5px;
    margin-right: 5px;

}

.invest_text {
    color: $light;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.input {
    width: 200px;
    margin-left: 20px;
    margin-top: 2px;

}

.sign {
    margin-left: 20px;
    color: $light;

}

.popover {
    color: $light;
    background: $darker;
    border-radius: 5px;

}

.popover :hover {
    background: $light;
    color: $darker;
    cursor: pointer;
    border-radius: 5px;
}

.cursor {
    cursor: pointer;
}

.signup {
    margin-left: 10px;
}

.user_img {
    height: 30px;
}
