@import '../../commonscss/color.scss';

.name {
    margin-top: 50px;
    background: $chart;
}

.chartContainer {
  width: 100px;
  height: 100px;
  max-width: 120px;
}
.parent {
  height: 100px !important;
  overflow: "hidden";
}
.head {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}