@import '../../commonscss/color.scss';

.name {
  margin-top: 70px;
    width: calc(100% - 80px);
    margin-left: 40px;
    margin-right: 40px;
}

.chartContainer {
  width: 100px;
  height: 100px;
  max-width: 120px;
}
.parent {
  height: 100px !important;
  overflow: "hidden";
}
.head {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.image {
  width: 120px;
}
.spin {
  margin-top: 150px;
  // margin-left: 45%;
}
.fr{
  float: right;
  margin-right: 20px;
}